html,
body {
    height: 100%;
}


#butterfly {
    height: 200px;
    width: auto;
    position: absolute;
}

#wateringcan {
    width: 200px;
    position: fixed;
    bottom: 20%;
    left: 40%;
}

.tilt {
    transform: rotate(-30deg);
}

.waterdrop {
    width: 20px;
    top: 660px;
    left: 40%;
	position: absolute;
    animation: fall 2s linear forwards;
}


@keyframes fall {
    to {
        top: 100%;
        opacity: 1;
    }
}

#net {
    height: 600px;
    width: auto;
    position: absolute;
}

.apple {
    z-index: 1;
    height: 50px;
    width: auto;
    position: absolute;
}

#tree {
    z-index: -1;
    position: fixed;
    bottom: 20px;
    left: 50%;
}

.basket {
    z-index: -1;
    width: 200px;
    position: fixed;
    bottom: 20px;
    left: 20%;

}
#basketfront {
    z-index: 1;

}

.movable-image {
    position: absolute;
    cursor: pointer;
}

.cloud {
    background-image:url("../images/white-cloud-png.webp");
    background-size: contain;
    width: 435px;
    height: 110px;
    position: absolute;
    top: 10px; 
    left: -200px; 
}

.score {
    margin-top: 10%;
    margin-left: 1%;
    color: green;
    
}

body {
    margin: 0px;
    background-image: url("../images/grass.png");
    background-attachment: fixed;
    background-repeat: repeat-x;
    background-position: bottom;
    overflow: hidden;
}
