html,
body {
    height: 100%;
}


#butterfly {
    height: 200px;
    width: auto;
    position: absolute;
}

#wateringcan {
    width: 200px;
    position: fixed;
    bottom: 20%;
    left: 40%;
}

.tilt {
    transform: rotate(-30deg);
}

.waterdrop {
    width: 20px;
    top: 680px;
    left: 40%;
	position: absolute;
    animation: fall 2s linear forwards;
}


@keyframes fall {
    to {
        top: 100%;
        opacity: 1;
    }
}

#net {
    height: 600px;
    width: auto;
    position: absolute;
}

.apple {
    z-index: 1;
    height: 50px;
    width: auto;
    position: absolute;
}

#tree {
    z-index: -1;
    position: fixed;
    bottom: 20px;
    left: 50%;
}

.basket {
    width: 200px;
    position: fixed;
    bottom: 20px;
    left: 20%;

}

.movable-image {
    position: absolute;
    cursor: pointer;
}


body {
    margin: 0px;
    background-image: url("../images/grass.png");
    background-attachment: fixed;
    background-repeat: repeat-x;
    background-position: bottom;
    overflow: hidden;
}
